<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>@font-face {
        font-family: Source Code Pro;
        src: url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap);
      }
      * {
        box-sizing: border-box;
      }
      :root {
        font-size: 16px;
        font-family: Source Code Pro, monospace;
      }
      body {
        padding: 2.5rem;
        height: 90vh;
        background: #2A2B31;
        color: #FFFFFF;

      }
      main {
        height: 100%;
        width: 100%;
        margin: auto;
        display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
      }
      .logo img {
        width: auto;
        height: 180px;
      }
      .title {
        font-size: 25px;
        text-transform: capitalize;
        margin: 0.25rem 0;
        font-weight: bold;
      }
      .tags {
        display: flex;
        list-style-type: none;
        padding-left: 0;
        color:#DADADA;
        font-size: 1.5rem;
      }
      .tag-item {
        margin-right: 0.5rem;
      }
      .bob {
        width: auto;
        height: 250px;
        position: absolute;
        right: 60px;
        bottom: 150px;
      }
</style>
  </head>
  <body id="body">
    <main>
      <div class='logo'>
          <img src="./logo-trans.png" alt="logo" />
      </div>
      <div class="title">{{title}}</div>
      <div>
        {{#if tags}}
          <ul class="tags">
          {{#each tags}}
            <li class="tag-item">#{{this}}</li>
          {{/each}}
          </ul>
        {{/if}}
      </div>
    </main>
    <img src="./bob.png" alt="bob" class="bob"/>
  </body>
</html>